/*Setting font-family of the content*/
*{
	padding: 0 0;
	margin: auto 0;
	font-family: Helvetica;
}

#tab {
	margin: 20px;
}

.tab_menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	/*border: 1px solid #ccc;*/
	border: 1px solid #BADA55;
	background: #E9E9E9;
}

.tab_menu li {
	display: inline-block;
	background-color: #F6F6F6;
	border: 1px solid #BADA55;
	border-radius: 5px 20px 5px;
	padding: 10px 10px;
	list-style-type: none;
}

.tab_menu li a {
	text-decoration: none;
}

/*Formatting links*/

.tab_menu ul li a .active {
	display: inline-block;
	background-color: #a03939;
	color: #fff;
	transition: 0.3s;
	font-size: 16px;
}

/*Styling the tab content*/


.tabs {
	padding: 10px 10px;
	border-top: 1px solid #DDDDDD;
	background: #BADA55;
	border-radius: 5px 20px 5px;
	color: #fff;
    text-align: justify;
    width: 450px;
}

.tabs div {
	display: none;
}

.tabs p {
	padding-bottom: 10px;

}

.tabs .active{
	display: block;
}


/*Input form*/
form {
	margin: 25px;
	width: 50%;

}

fieldset {
	padding: 30px;
	border-color: #BADA55;
}

fieldset div {
	padding: 8px;
	display: flex;
	/*margin-top: 20px;*/
}

label {
	display: inline-block;
	width: 5em;
}

input {
	display: inline-block;
    border-color: #BADA55;
    margin-right: 5px;
}

span {
	display: none;
	border: 1px solid #BADA55;
	padding: 2px;
	margin: 0;
}

button {
	background-color: #BADA55;
    border-radius: 5px 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

